---
import { MY_NAME, MY_POSITION, SITE_URL } from "~/config";

const socialMedias = [
  {
    icon: "ti ti-brand-x",
    name: "Twitter",
    link: "https://x.com/masb0ymas",
  },
  {
    icon: "ti ti-brand-linkedin",
    name: "Linkedin",
    link: "https://linkedin.com/in/masb0ymas",
  },
  {
    icon: "ti ti-brand-github",
    name: "Github",
    link: "https://github.com/masb0ymas",
  },
  {
    icon: "ti ti-heart-handshake",
    name: "Support Me",
    link: "https://s.id/masb0ymas",
  },
  {
    icon: "ti ti-brand-whatsapp",
    name: "Whatsapp",
    link: "https://api.whatsapp.com/send/?phone=+6287837554403&text=Hi, I am interested in your portfolio, would you be willing to discuss it with me?",
  },
  {
    icon: "ti ti-mail",
    name: "Email",
    link: "mailto:n.fajri@outlook.com",
  },
  {
    icon: "ti ti-rss",
    name: "RSS",
    link: "/rss.xml",
  },
];
---

<section class="mb-8">
  <div class="flex gap-3 sm:gap-5 justify-start items-center py-6">
    <img
      class="w-20 h-20 p-1 rounded-full ring-4 ring-[#fb923c] dark:ring-yellow-400"
      src="/static/images/avatar.webp"
      alt="avatar"
    />

    <div class="sm:px-0 px-2">
      <h1
        class="font-extrabold text-2xl md:text-3xl tracking-tight overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
          {MY_NAME}
        </span>
      </h1>
      <h2 class="text-lg md:text-xl">{MY_POSITION}</h2>
    </div>
  </div>

  <div class="mb-5">
    {
      socialMedias.map((item) => {
        return (
          <a
            class="unset text-xl mr-4 hover:text-text-link"
            href={item.link}
            target="_blank"
            rel="noopener"
          >
            <i class={item.icon} aria-hidden="true" />
          </a>
        );
      })
    }
  </div>

  <div>
    <p class="mb-5">
      Hi there 👋 thanks for coming, I write docs or tutorials on web
      development and deployment mostly about Web2, Web3 and DevOps.
      <span>
        For the profile page you can check this link:
        <a href="https://masb0ymas.my.id" target="_blank" rel="noopener">
          https://masb0ymas.my.id
        </a>
      </span>
    </p>
  </div>
</section>
